.text-center{
	text-align:center;
}
.row { margin-left: -10px; margin-right: -10px;}
.row:after ,.clearfix:after {content:""; display: block; clear: both;}

div[class*="column"] { float: left; padding: 10px; box-sizing: border-box;}
.column1 { width: 8.33%; }
.column2 { width: 16.66%; }
.column3 { width: 25%; }
.column4 { width: 33.33%; }
.column5 { width: 41.66%; }
.column6 { width: 50%; }
.column7 { width: 58.33%; }
.column8 { width: 66.66%; }
.column9 { width: 75%; }
.column10 { width: 83.11%; }
.column11 { width: 91.66%; }
.column12 { width: 100%; }

::-webkit-datetime-edit { padding: 10px; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { color: orange; }

body{
	font-family: 'PT Sans', sans-serif;
	margin: 0;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.line:after{
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background-image: -webkit-linear-gradient(315deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
	background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
	background-size: 35px 14px;
	display: block;
}
a{
	cursor: auto;
}




/*Main.html*/

/*Header*/
.page_header{
	background-color: #ffcd34;
	padding: 20px 0;
	position: relative;
}
.container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}
.logo{
	float: left;
	text-decoration: none;
}
.logo-header{
	color: #000;
}
.logo-img{
	margin-right: 7px;
	vertical-align: middle;
	display: inline-block;
}
.logo-brandname{
	font-size: 24px;
	vertical-align: bottom;
	display: inline-block;
}
.main_nav{
	float: right;
}
.main_nav ul{
	margin-top: 10px;
	padding: 0;
}
.main_nav li{
	display: inline-block;
}
.active-page{
	padding: 10px 19px;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0);
	font-size: 16px;
}
.header_nav-a{
	color: rgb(136, 109, 12);
	text-decoration: none;
	padding: 10px 19px;
	border: 1px solid rgba(0, 0, 0, 0);
	font-size: 16px;
}
.header_nav-a:hover{
	color: #000;
	border: 1px solid rgb(185, 155, 38);
}
.header_nav-a:active{
	color: #000;
	border: 1px solid rgb(116, 107, 50);
}
.header_button{
	color: #000;
	text-decoration: none;
	padding: 10px 20px;
}
.header_button:link{
	background-color: rgb(255, 228, 125);
}
.header_button:hover{
	background-color: rgb(255, 238, 174);
}
.header_button:active{
	background-color: rgb(253, 193, 0);
}





/*Footer*/
.page_footer{
	background-color: #202e3b;
	padding: 20px 0;
	color: #fff;
}
.logo-footer{
	color: #ffcd34;
}
.footer_nav-a{
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid rgba(0, 0, 0, 0);
	font-size: 16px;
}
.footer_nav-a:hover{
	border: 1px solid rgb(90, 103, 114);
}
.footer_nav-a:active{
	border: 1px solid rgb(174, 180, 185);
}
.footer_button{
	color: #ffcd34;
	text-decoration: none;
	padding: 10px 20px;
}





/*Promo*/
.promo{
	background-image: url(../img/promo_cover.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 125px 0 130px 0;
	color: #e2e2e2;
	position: relative;
}
.promo_slogan{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 44px;
	margin: 0;
	margin-bottom: 15px;
}
.promo_title{
	width: 650px;
	font-size: 20px;
	font-weight: normal;
	margin: 0 auto;
	margin-bottom: 25px;
}
.promo_button{
	display: inline-block;
	border: 2px solid #ffcd34;
	color: #e5e5e5;
	text-decoration: none;
	font-weight: normal;
	padding: 8px 55px 9px 17px;
	position: relative;
	font-size: 18px;
}
.promo_button:hover{
	border: 2px solid rgb(255, 221, 90);
}
.promo_button:active{
	border: 2px solid rgb(255, 231, 138);
}
.promo_button:after{
	content: "";
	position: absolute;
	background-image: url(../img/promo_angle_icon.png);
	width: 13px;
	height: 19px;
	right: 22px;
	top: 10px;
}





/*Consult*/
.consult{
	background-color: #202e3b;
	padding: 25px 30px;
}
.consult_title{
	color: #ffcd34;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 30px;
}
.consult-item{
	width: 23%;
	float: left;
	margin-right: 2%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.cosult-item:last-child{
	margin-right: 0;
}
.consult-input{
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	border: 1px solid #ffcd34;
	color: #fff;
	font-size: 16px;
	background-color: #202e3b;
	vertical-align: top;
}
.consult-input-date{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ffcd34;
	color: #fff;
	font-size: 16px;
	background-color: #202e3b;
	vertical-align: top;
	padding: 0 10px;
}
.consult-input:focus{
	border: 1px solid #ffcd34;
}
.consult-button{
	background-color: #ffcd34;
	font-size: 16px;
	font-weight: bold;
	color: #202e3b;
	text-align: center;
	padding: 9px 0 10px 0;
	border: 1px solid #ffcd34;
}
.consult-button:hover{
	background-color: #ffd966;
}
.consult-burron:active{
	background-color: #f6b916;
}





/*Features*/
.features{
	background-color: #fff;
	padding: 30px 0;
}
.features_item-img{
	display: inline-block;
	margin-right: 6px;
	vertical-align: top;
	max-width: 50px;
	vertical-align: middle;
}
.features_item-text{
	display: inline-block;
	width: 74%;
	font-size: 13px;
	vertical-align: middle;
	margin: 0;
}





/*Technic*/
.technic{
	background-color: #f3f3f3;
	padding: 25px 40px;
	position: relative;
}
.technic-deals_menu{
	display: block;
}
.subtitle{
	margin: 0;
	margin-bottom: 25px;
	font-size: 26px;
}
.technic-deals_menu ul{
	padding: 0;
	margin: 0;
}
.technic-deals_menu li{
	list-style-type: none;
	display: list-item;
	margin-bottom: 19px;
}
.technic-deals_menu a{
	color: #202e3b;
	cursor: auto;
	font-size: 16px;
}
.deals_table{
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.deals_table th{
	padding: 5px 10px;
	font-size: 16px;
}
.deals_table td{
	padding: 5px 10px;
	font-weight: normal;
	font-size: 16px;
}
.deals_table tr:nth-child(1){
	background-color: #dfdfdf;
}
.deals_table tr:nth-child(2){
	background-color: rgb(243, 243, 243);
}
.deals_table tr:nth-child(3){
	background-color: #fff;
}
.deals_table tr:nth-child(4){
	background-color: rgb(243, 243, 243);
}
.deals_table tr:nth-child(5){
	background-color: #fff;
}





/*About*/
.about{
	background-color: #202e3b;
	position: relative;
	padding: 40px 0 35px;
}
.about_number h2{
	color: #fff;
	font-size: 26px;
}
.weight-normal{
	font-weight: normal;
}
.about_number ul{
	padding: 0;
	margin: 0;
}
.about_number li{
	list-style-type: none;
	color: #9e9e9e;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
}
.about_digit{
	color: #f1b132;
	font-size: 38px;
	margin-right: 15px;
}
.about_reviews_item{
	margin-bottom: 35px;
}
.about_reviews_item img{
	display: inline-block;
	border: 3px solid #f1b132;
	border-radius: 3px;
	max-width: 110px;
	margin-right: 20px;
}
.about_reviews_item blockquote{
	margin: 0;
	color: #fff;
	font-size: 18px;
	font-style: italic;
	display: inline-block;
	width: 75%;
	vertical-align: top;
	font-weight: normal;
}
.about_reviews_item, cite{
	color: #f1b132;
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
}










/*Catalog.html*/

/*Rent*/
.rent{
	background-image: url(../img/catalog//catalog_rent.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 45px 0 25px;
}
.rent_text{
	float: left;
	width: 65%;
}
.rent_text h1{
	color: #ffcd34;
	font-size: 26px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 10px;
}
.rent p{
	color: #fff;
	font-size: 16px;
}
.rent_cons{
	float: right;
	width: 26%;
}
.rent_btn{
	background-color: #ffcd34;
	padding: 10px 20px;
	font-size: 18px;
	color: #202e3b;
	text-decoration: none;
	font-weight: bold;
	display: block;
	text-align: center;
}
.rent_btn:hover{
	background-color: rgb(255, 220, 90);
}
.rent_btn:active{
	background-color: rgb(253, 193, 0);
}





/*Vehicle*/
.vehicle{
	background-color: #f3f3f3;
	padding: 0px 0 6px;
}
.vehicle_menu{
	float: left;
	width: 29%;
	margin: 30px 0;
}
.vehicle_deals{
	float: right;
	width: 69%;
	margin: 25px 0;
}
.vehicle_menu h2{
	margin: 0;
	margin-bottom: 10px;
	font-size: 26px;
}
.vehicle_menu-active{
	font-weight: bold;
}
.vehicle_menu-active-form{
	margin-right: 10px;
}
.vehicle_menu-img{
	margin-right: 5px;
}
.vehicle_menu-nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.vehicle_menu-nav li{
	display: block;
	padding: 9px 0;
}
.vehicle_menu-nav a{
	color: #354b60;
	font-size: 16px;
}
.vehicle_menu-nav a:hover{
	font-weight: bold;
}
.vehicle_menu-nav a:active{
	font-weight: bold;
	text-decoration: none;
}
.btn-pdf{
	background-color: #354b60;
	color: #fff;
	padding: 10px 20px 10px 15px;
	text-decoration: none;
}
.btn-pdf-img{
	margin-right: 10px;
	margin-top: 20px;
}
.btn-pdf:hover{
	background-color: rgb(64, 96, 123);
}
.btn-pdf:active{
	background-color: rgb(79, 120, 155);
}





/*Vehicle Deals*/
.model{
	background-color: #fff;
	padding: 20px 25px 30px;
	width: 78%;
	float: right;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}
.model-title{
	font-size: 21px;
	margin: 0;
	margin-bottom: 20px;
	width: 90%;
}
.model-price{
	margin: 30px 0 14px;
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
}
.model-price span{
	font-size: 26px;
}
.model_price_button-group{
	text-align: center;
}
.model-price_btn{
	padding: 10px 20px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	vertical-align: middle;
	float: left;
}
.model-price_btn-yellow{
	background-color: #f3c331;
}
.model-price_btn-blue{
	background-color: #354b60;
}
.model-price_btn-yellow:hover{
	background-color: rgb(255, 221, 90);
}
.model-price_btn-yellow:active{
	background-color: rgb(255, 202, 0);
}
.model-price_btn-blue:hover{
	background-color: rgb(64, 96, 123);
}
.model-price_btn-blue:active{
	background-color: rgb(80, 121, 156);
}
.pagination{
	text-align: center;
}
.pagination ul{
	padding-left: 20px;
	margin-top: 25px;
}
.link{
	display: inline-block;
}
.link-active{
	padding: 0 5px;
	color: #fff;
	background-color: rgb(50, 74, 97);
	border: 2px solid rgb(50, 74, 97);
	border-radius: 3px;
}
.link-pages{
	padding: 0 5px;
	color: rgb(50, 74, 97);
	text-decoration: none;
	border: 2px solid rgba(0, 0, 0, 0);
}
.link-pages:hover{
	border: 2px solid rgb(135, 152, 164);
	border-radius: 3px;
}
.link-pages:active{
	color: rgb(50, 74, 97);
	border: 2px solid rgb(49, 74, 97);
	border-radius: 3px;
}
.new{
	position: absolute;
	display: block;
	text-align: center;
	background-color: rgb(4, 207, 52);
	color: #fff;
	font-size: 18px;
	width: 100px;
	padding: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -30px;
	top: 10px;
}





/*Special*/
.special{
	background-image: url(../img/catalog/catalog_special.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0 45px;
}
.special h2{
	color: #fff;
	font-weight: normal;
	padding-top: 8px;
	margin-bottom: 5px;
}
.model-special{
	background-color: #fff;
	padding: 20px 5px 35px 27px;
	position: relative;
	overflow: hidden;
}
.model-price-special{
	margin: 35px 0 16px;
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
}
.model-price-special span{
	font-size: 21px;
}
.del{
	text-decoration: line-through;
	margin-right: 25px;
	color: red;
}
.sale{
	position: absolute;
	display: block;
	text-align: center;
	background-color: rgb(231, 1, 0);
	color: #fff;
	font-size: 18px;
	width: 100px;
	padding: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -30px;
	top: 10px;
}






/*Contacts.html*/

/*Contact*/
.contact{
	background-image: url(../img/contacts/excavator_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 35px 0 30px;
}
.contact_text{
	color: #fff;
	float: left;
	margin: 0;
}
.contact_text span{
	color: #ffcd34;
	font-size: 26px;
	margin-right: 5px;
}
.contact_text p{
	margin: 0;
	font-size: 16px;
}
.contact_feed-btn{
	float: right;
	width: 22%;
	background-color: #ffcd34;
	color: #202e3b;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
.contact_feed-btn:hover{
	background-color: rgb(255, 221, 90);
}
.contact_feed-btn:active{
	background-color: rgb(255, 194, 0);
}





/*Contact Info*/
.contact_info{
	background-color: #f3f3f3;
}
.contact-info-margin{
	margin: 30px 0;
}
.numbert_contacts{
	margin: 0;
	margin-bottom: 15px;
	color: #202e3b;
	font-size: 18px;
}
.number a{
	text-decoration: none;
	color: #202e3b;
	margin-left: 10px;
	font-weight: bold;
}
.number-feed-text{
	font-size: 16px;
	margin-bottom: 18px;
}
.number_input{
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 18px;
	font-size: 16px;
	box-sizing: border-box;
}
.number_input-submit{
	width: 100%;
	background-color: #354b60;
	color: #fff;
	border: none;
	padding: 10px 5px;
	font-size: 18px;
}
.textarea{
	resize: none;
}





/*Reviews*/
.reviews{
	padding: 10px 0 45px;
}
.reviews h2{
	color: #202e3b;
	font-size: 26px;
}
.reviews_item{
	text-align: center;
}
.reviews_item-text{
	color: #202e3b;
}
.reviews_item-textmain{
	font-style: italic;
	font-size: 14px;
	line-height: 120%;
}
.reviews_item-textautor{
	font-style: normal;
	font-weight: bold;
	margin-bottom: 10px;
}





/*Portfolio.html*/

/*Portfolio*/
.portfolio_subheader{
	background-image: url(../img/portfolio/portfolio_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 37px 0 35px;
}
.portfolio_subheader h2{
	float: left;
	color: #ffcd34;
	font-size: 26px;
	font-weight: normal;
	margin: 0;
}
.portfolio_menu{
	float: right;
	margin-top: 5px;
}
.portfolio_menu ul{
	margin: 0;
}
.portfolio_menu ul li{
	display: inline-block;
}
.portfolio_menu-a{
	color: #fff;
	padding: 10px 18px;
	font-size: 16px;
}
.portfolio_menu-a-last{
	color: #fff;
	padding: 10px 0 10px 18px;
	font-size: 16px;
}
.portfolio_menu li a:hover{
	font-weight: bold;
}
.portfolio_menu li a:active{
	font-weight: bold;
	text-decoration: none;
}


/*Projects*/
.project_item{
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	min-height: 495px;
	position: relative;
}
.project_one{
	background-image: url(../img/portfolio/portfolio_1.png);
}
.project_item:before{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #000;
	display: block;
}
.project_two{
	background-image: url(../img/portfolio/portfolio_2.png);
}
.project_three{
	background-image: url(../img/portfolio/portfolio_3.png);
}
.project_three:after{
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background-image: -webkit-linear-gradient(315deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
	background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
	background-size: 35px 14px;
	display: block;
}
.project_ins{
	background-color: #fff;
	width: 265px;
	padding: 25px 30px;
	margin-top: 103px;
}
.project_ins h2{
	margin: 0;
	font-size: 20px;
}
.project_ins p{
	margin: 0;
	margin-bottom: 23px;
	font-size: 14px;
}
.btn_project{
	display: inline-block;
	background-color: #ffcd34;
	color: rgb(23, 51, 64);
	text-decoration: none;
	font-weight: bold;
	padding: 10px 37px 10px 17px;
	position: relative;
	font-size: 15px;
}
.btn_project:after{
	content: "";
	position: absolute;
	background-image: url(../img/portfolio/portfolio_forma.png);
	width: 13px;
	height: 19px;
	right: 12px;
	top: 9px;
}
.btn_project:hover{
	background-color: rgb(255, 221, 90);
}
.btn_project:active{
	background-color: rgb(255, 194, 0);
}